<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/styles.css'>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <meta name="description" content="<%- description %>">

  <meta property="og:title" content="<%- ogTitle %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%- description %>">
  <meta property="og:url" content="<%- siteMeta.website.url %><%- pageUrl %>">
  <% if (typeof post !== 'undefined' && post.primaryImage) { -%>
  <meta property="og:image" content="<%- siteMeta.website.url %><%- post.primaryImage.image %>">
  <% } else { -%>
  <meta property="og:image" content="<%- siteMeta.website.url %><%- siteMeta.website.primaryImage.path %>">
  <meta property="og:image:type" content="<%- siteMeta.website.primaryImage.type %>">
  <meta property="og:image:width" content="<%- siteMeta.website.primaryImage.width %>">
  <meta property="og:image:height" content="<%- siteMeta.website.primaryImage.height %>">
  <% } %>
  <meta property="og:site_name" content="<%- siteMeta.website.name %>">

  <link rel="canonical" href="<%- siteMeta.website.url %><%- pageUrl %>">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>
<body class="<%= className %><% if (typeof post !== 'undefined' && !post.primaryImage) { %> no-primary-image<% } else { %> has-primary-image<% } %>">
