<% include partials/head %>
<% include partials/site-header %>
<div class="skinny-container">
  <% posts.forEach(post => { if (post.active) { %>
    <article class="post u-mb-4">
      <% if (typeof post.css !== 'undefined') { %>
        <% post.css.forEach(cssfile => { %>
          <link rel="stylesheet" href="/css/<%- cssfile %>">
        <% }); %>
      <% } %>
      <header class="post__header">
        <h3 class="post__date"><%= post.dateDisplay %></h3>
        <h1 class="post__title"><a href="/posts/<%= post.slug %>"><%= post.title %></a></h1>
      </header>
      <%- post.teaser %>
    </article>
  <% }}) %>
</div>
<% include partials/footer %>
